/*NAVIGATIE*/

.metasliderblok{
    padding-left: 0!important;
}

.navigatiemenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.navigatiemenu ul {
    list-style: none;
    text-decoration: none;
    display: flex;

}

.navigatiemenu ul li{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.navigatiemenu ul li a{
    color: black;
    text-decoration: none;

}

.menu ul li {
    padding: 10px 5px 10px 5px;
    color: black;
}

.menu a {
    color: black;
}

.uk-navbar {
    background: none !important;
    color: #444;
    border: none !important;
    border-bottom-color: unset !important;

}

.hamburger {
    color: black;
}

.hamburger .menu{
 color: black;

}

.hamburgermenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.navigatiemenu ul {
    margin-bottom: 0px;
!important
}
.navigatiemenu ul li a:hover{
    color: #888888;
}
.socialbutton {
    padding: 8px;
    border-style: solid;
    border-color: #6bb444;
    border-radius: 50%;
    border-width: 2px;
    color: #6bb444;
    border-color: #6bb444;
    width: 1rem;
    text-align: center;
}

.socialbutton:hover{
    color: #86ce5c;
    border-color: #86ce5c;
}

.socialbuttons {
    margin-left: 30px;
    margin-bottom: 8px;
}

.socialbutton img {
    justify-content: center;
}

.ssclogo {
    width: 95px;
    padding-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1.5em;
}

.navigatiebalk {
    height: 9em;
}

.navigatielogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uk-navbar-toggle{
    color: #6bb444;
    font-size: 3em!important;
    margin-top: -2.5em;
}

.uk-navbar-toggle:hover {
    color: green;
}

.uk-offcanvas-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1001;
    width: 270px;
    max-width: 100%;
    background: #6bb444;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    -ms-scroll-chaining: none;
}

.uk-offcanvas .uk-panel a:not([class]) {
    color: #fff;
}

.menu ul li {
    list-style: none;
    font-size: 1.2em;
}
.current_page_item > a{
    border-bottom: 4px solid #6bb444;
    color: #000000;
    padding-bottom: 10px;
}

    /*HEADER*/
.ml-slider-3-6-7, .metaslider, .metaslider-flex, .metaslider-67, .ml-slider img {
    width: 100%!important;
    padding-left: 0!important;
    margin-left: 0!important;
}

.slides {
    padding-left: 0!important;
}

.metaslider {
    position: relative;
}

.caption-wrap {
    position: absolute!important;
    background: none !important;
    top: 30% !important;
    font-size: 7em;
    font-weight: bold!important;
    line-height: 1.5em !important;
    color: white !important;
    opacity: 0.8!important;
    text-align: center!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    width: 100%;
    margin-left: auto;
}

.slidelow-button {
    position: absolute!important;
    border-radius: 2px;
    background-color: #6bb444;
    border: none;
    font-size: 1.5em;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    height: 60px;
    bottom: 150px;
    right: 100px;
    z-index: 2;
    color: white;
}

.slidelow-klein {
    position: absolute!important;
    border-radius: 2px;
    background-color: #6bb444;
    border: none;
    font-size: 1.1em;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    left: 5%;
    bottom: 5%;
    height: 30px;
    z-index: 2;
    color: white;
}

.slidelow-button span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;

}

.slidelow-button span:after {
    content: '\00bb';
    opacity: 0;
    transition: 0.5s;

}

.slidelow-button:hover span {
    padding-right: 0px;

}

.slidelow-button:hover span:after {
    opacity: 1;
    right: 0;
}

.pagename {
    position: absolute;
    background: none;
    top:40%;
    font-size: 3em;
    font-weight: bold;
    line-height: 3em;
    color: white;
    opacity: 0.8;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
}

/*CONTENT HOME*/

.post {
    /*margin-left: 50px;*/
}

.posttitle {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 1.2em;
    margin-left: 50px;
}

.postcontent {
    margin-bottom: 30px;
    margin-right: 8em;
    align-items: center;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 50px;
}

.videoblok {
    max-width: 50%;
}

iframe {
    margin-left: 50px;
    margin-top: 50px;
    width: 100%;
    height: 400px;
}

.tussenlijn {
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-width: 2px;
    margin-top: 20px;
}

.headertitle {
    font-size: 50px;
}

.paginas {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paginatitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom:30px;
    margin-top: 20px;
}

.vlakbutton {
    border-radius: 2px;
    background-color: #f89d32;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 13px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
}

.project {
    display: flex;
    justify-content: center;
}

.vlakbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.vlakbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.vlak {
    width: 33%;
    float: right;
}

.vlakbutton:hover span {
    padding-right: 25px;
}

.vlakbutton:hover span:after {
    opacity: 1;
    right: 0;
}

.paginablok {
    margin-top: 30px;
}

.thumbnail {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* OVER ONS PAGINA */

.content-text {
    max-width:70%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.werkzaamheden {
    display: flex;
    justify-content: center;
}

.werkzaamhedenimg {
    width: 100px;
    height: 100px;
}

.werkzaamknop {
    border-radius: 2px;
    background-color: #f89d32;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    width: 10em;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    float:right;
}

.werkzaamknop span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    overflow: hidden;

}

.werkzaamknop span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.vlak {
    width: 33%;
    float: right;
}

.werkzaamknop:hover span {
    padding-right: 25px;
}

.werkzaamknop:hover span:after {
    opacity: 1;
    right: 0;
}

.uk-grid {
     margin-left: 0px!important;
}

/* PROJECTENPAGINA */

.projectengrid {
    text-align: center;
}

.projectenblok {
    margin-bottom: 20px;
}

.projectfoto {
    transition: width 0.3s;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    min-height: 20em;
    width: 15em;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


.projectfoto:hover ~ .meerinformatie {
    text-decoration: underline;
}

.projectfoto img {
    display: flex;
    justify-content: center;
}

.project-excerpt {
    background-color: rgba(180, 180, 180, 0.45);
    position: absolute;
    text-decoration: none;
    opacity: 0;
    height: 100%;
    width: 94.6%;
    color: #fff;
    text-align: left;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 0.6em;
}

.meerinformatie:hover + .project-box{
    transition: width 0.5s;
    z-index: 4;
    cursor: pointer;
    height: 23.5em;
    width: 17em;
    border: 0px solid #86ce5c;
    border-radius: 10px;
    margin-top: auto;
    padding-right: 110px;
    padding-bottom: 1px;
}
.excerpt-text{
    margin-top: 33%;
}


.thumbnailblok{
    display: flex;
    justify-content: center;
}

.meerinformatie {
    font-weight: bold;
    font-size: 2em;
    color: black;
}

.meerinformatie:hover{
    font-weight: bold;
    font-size: 2em;
    color: black;
}

.projectthumbnail {
    margin-top: 25px;
    /*margin-right: 25px;*/
    width: 500px;
}

.back button {

}

/*CONTACT-PAGINA*/

.second-titel {
    text-align: center;
}

/* MEDIA QUERIES */

@media all and (min-width: 0px) and (max-width: 550px) {
    .caption-wrap{
        font-size: 2em!important;
    }

    .pagename{
        font-size: 1.5em!important;
    }


    iframe {
         margin-left: 0!important;
     }
    .videoblok {
        max-width: 100%!important;
    }

    .posttitle {
        line-height: 1.3em!important;
    }

    .footercontent {
       padding-right: 125px!important;
    }

    .title {
        font-size: 1.5em!important;
    }

    .ssccaption {
        font-size: 4em!important;
        font-weight: unset !important;
    }

    .postcontent {
        margin-left: 20px!important;
        margin-right: 1em!important;
    }

    .posttitle {
        margin-left: 20px!important;
    }

    .content-text {
        max-width: 95%!important;
    }

}

@media all and (min-width: 551px) and (max-width: 1000px) {
    .nivo-caption{
        font-size: 3em!important;
    }

    .posttitle {
        line-height: 1.2em!important;
    }
    .caption-wrap {
        font-size: 3em!important;
    }

    .pagename {
        font-size: 2em!important;

    }
    .videoblok {
        max-width: 80%!important;
    }

    .postcontent {
        margin-right: 1em!important;
    }

    .content-text {
        max-width: 95%!important;
     }

}

@media all and (min-width: 800px) and (max-width: 1920px) {
    .videoblok, .contentblok{
        width: 80%!important;
    }
    .caption-wrap {
        font-size: 3.7em!important;

    }

    .pagename {
        font-size: 2.7em!important;

    }

    /*.posttitle {*/
        /*margin-left: 2em!important;*/
    /*}*/

    /*.postcontent {*/
        /*margin-left: 5em!important;*/
    /*}*/

    .post {
        padding-left: 20px;
    }

}


/*PC*/
@media screen and (min-width:769px) {
    .projectfoto:hover{
        transition: width 0.5s;
        z-index: 4;
        cursor: pointer;
        height: 23.5em;
        width: 50%;
        border: 0px solid #86ce5c;
        border-radius: 10px;
        margin-top: auto;
        padding-right: 110px;
        padding-bottom: 1px;
    }
    .project-excerpt:hover{
        transition: linear 0.5s, font-size 1ms;
        opacity: 1;
        text-decoration: none;
        font-size: 1em;
    }
}


/*PROJECTAANVRAGEN*/

.project-form {
    display: flex;
    justify-content: center;
}

/*FOOTER*/

.footer {
    background-color: #6bb444;
    margin-top: 50px;
}

.footercontent {
    margin-top: 5em;
    margin-bottom: 5em;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}



.fa-map-marker, .fa-phone, .fa-envelope {
    margin-right: 5px;
    color: #fff;
}

/*MEERDERE PAGINAS*/

.titel img {
    width: 100px;
    text-align: center;
}

.titel {
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 20px;
    text-align: center;
    line-height: 1.1em;
}
.wpcf7{
    font-size: 125%;
    text-align: center
;
}

.wpcf7 input[type="text"]{
    padding-left: 1%;
    border: 1px solid #aaa;
    background-color: #f7f5f5;
    width: 70%;
    float: right;
}
.wpcf7 input[type="email"]{
    padding-left: 1%;
    border: 1px solid #aaa;
    background-color: #f7f5f5;
    width: 70%;
    float: right;
}

.wpcf7 textarea
{
    height: 1%;
    resize: none;
    float: right;
    background-color: #f7f5f5;
    border: 1px solid #aaa;
    width: 70%;

}

.wpcf7 input[type="submit"]{
    color : #fff;
    background-color: #f89d32;
    border: none;
    height: 40px;
    border-style: solid;
    font-size: 15px;
    float: right;
    cursor: pointer;
}
.wpcf7 input[type="number"]{
    padding-left: 1%;
    border: 1px solid #aaa;
    background-color: #f7f5f5;
    width: 70%;
    float: right;
}
.wpcf7 input[type="submit"]:hover{
    background-color: #fff;
    color: #f89d32;

}
input:focus {
    outline-width: 0;
}
textarea:focus {
    outline-width: 0;
}

.wpcf7 form p{
    padding-right: 5%;
    text-align: left;
}

#imglink{
    z-index: 999;
    display:inline-block;
    width:100%;
    height:100%;
}

/*Form Error Validation*/
.screen-reader-response {
    display: none;

}

/*Validation Message*/
div.wpcf7-validation-errors {
    background: #ffe2e2;
    border: 1px solid #ff0000;
    color: #C10000;
    display: none;
}

div.wpcf7-response-output {
    margin: 2em 0;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.fout {
    display: inline;
    background: #ffe2e2;
    border: 1px solid #ff0000;
    color: #C10000;
    margin: 0.4em 0;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 125%;
    text-align: center;
    width: 20%;
}

div.wpcf7-mail-sent-ok {
    background: #e4ffe2;
    border: 1px solid #00ff00;
    color: #00a000;
}
/*End*/

.wpcf7 span:invalid{
    background: #ffe2e2;
    border: 1px solid #ff0000;
    color: #C10000;
}

/*Hamburger Menu*/
.uk-panel.hamburger ul{
    list-style-type: none;
    font-size: 1.3em;
    line-height: 2em;
}
.uk-panel.hamburger a:hover{
    color: #f89d32!important;
    text-decoration: none;
}
.uk-close{
    font-size: 3em;
    float: right;
    display: block;
    opacity: 1;
    color: #fff;
    margin-right: 0.5em;
}

.copyright{
    opacity: 0.5;
    color: #fff;
    text-align: center;
    margin-top: 1em ;
}
.copyrightbottom{
    font-size: 1.2em;
    opacity: 0.7;
    color: #fff;
    margin: auto;
    margin-bottom: 10px;
}


.hamsocialbutton {
    padding: 8px;
    border-style: solid;
    border-color: #fff;
    border-radius: 50%;
    border-width: 2px;
    color: #fff;
    border-color: #fff;
    width: 1rem;
    text-align: center;
}

.hamsocialbutton:hover {
    border-color: #f89d32;
    color: #f89d32;
}

.hamsocialbuttons{
    text-align: center;
}

#con-link{
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}